*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(rgb(89, 168, 173), rgb(250, 250, 250)) no-repeat;
    height: 100vh;
}

.grid-container {
    display: grid;
    display: -ms-grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 90px);
    grid-template-rows: minmax(250px, auto) repeat(6, 70px);
    grid-gap: 3px;
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .grid-container {
        display: -ms-grid;
        margin-left: calc(100vw / 2 - 180px);
        margin-top: calc(100vh /2 - 335px);
        -ms-grid-columns: 90px 90px 90px 90px;
        -ms-grid-rows: 250px 70px 70px 70px 70px 70px 70px;
    }
}

.item1 {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    -ms-grid-column-span: 2;
}

.item2 {
    -ms-grid-column: 3;
    -ms-grid-row: 2;
}

.item3 {
    -ms-grid-column: 4;
    -ms-grid-row: 2;
}

.item4 {
    -ms-grid-column: 1;
    -ms-grid-row: 3;
}

.item5 {
    -ms-grid-column: 2;
    -ms-grid-row: 3;
}

.item6 {
    -ms-grid-column: 3;
    -ms-grid-row: 3;
}

.item7 {
    -ms-grid-column: 4;
    -ms-grid-row: 3;
}

.item8 {
    -ms-grid-column: 1;
    -ms-grid-row: 4;
}

.item9 {
    -ms-grid-column: 2;
    -ms-grid-row: 4;
}

.item10 {
    -ms-grid-column: 3;
    -ms-grid-row: 4;
}

.item11 {
    -ms-grid-column: 4;
    -ms-grid-row: 4;
}

.item12 {
    -ms-grid-column: 1;
    -ms-grid-row: 5;
}

.item13 {
    -ms-grid-column: 2;
    -ms-grid-row: 5;
}

.item14 {
    -ms-grid-column: 3;
    -ms-grid-row: 5;
}

.item15 {
    -ms-grid-column: 4;
    -ms-grid-row: 5;
}

.item16 {
    -ms-grid-column: 1;
    -ms-grid-row: 6;
}

.item17 {
    -ms-grid-column: 2;
    -ms-grid-row: 6;
}

.item18 {
    -ms-grid-column: 3;
    -ms-grid-row: 6;
}

.item19 {
    -ms-grid-column: 4;
    -ms-grid-row: 6;
}

.item20 {
    -ms-grid-column: 1;
    -ms-grid-row: 7;
}

.item21 {
    -ms-grid-column: 2;
    -ms-grid-row: 7;
}

.item22 {
    -ms-grid-column: 3;
    -ms-grid-row: 7;
}

.item23 {
    -ms-grid-column: 4;
    -ms-grid-row: 7;
}

.grid-container>button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    color: white;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .9);
}

.btn-num:hover,
button:hover {
    background-color: rgb(155, 155, 155);
}

.grid-container>.graph-active {
    background-color: rgb(36, 143, 36);
}

.operator:hover {
    background-color: rgb(29, 96, 151);
}

.delete:hover {
    background-color: rgb(255, 201, 23);
}

.all-clear:hover {
    background-color: rgb(220, 20, 60);
}

.span-two {
    grid-column: span 2;
}

.span-four {
    grid-column: span 4;
}

.screen {
    grid-column: 1 / -1;
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column-span: 4;
    background-color: rgb(241, 241, 241);
    display: flex;
    text-align: right;
    /* align-items: flex-end; */
    /*justify-content: space-around;*/
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    border: 1px solid black;
    border-radius: 10px;
}

.screen .screen-view {
    position: relative;
    color: black;
    font-size: 2.5rem;
    width: 100%;
    height: calc(100% - 29px);

}

.screen .input-view {
    color: black;
    font-size: 1.5rem;
}

canvas {
    background-color: rgba(108, 247, 108, 0.301);
}

#canvas {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

#canvas.hidden {
    display: none;
}


#cursor>img {
    max-height: 1.5em;
    height: 1.5em;
    width: auto;
}